@media (min-width: 1200px)
{

}
@media (min-width: 992px) and (max-width: 1199px)
{
    .introduction h2{
        font-size: 3em;
    }
    .forgot .box,
    .signup .box{
        width: 400px;
    }
    .class .inner {
        padding: 0 70px;
    }
    .report > [class*="col-"]{
        padding: 0 5px;
    }
}
@media (min-width: 992px) and (max-width: 1023px)
{
    .gallery-carousel .owl-controls .owl-nav .owl-prev,
    section.classes .owl-controls .owl-nav .owl-prev,
    .courses .course-carousel .owl-controls .owl-nav .owl-prev{
        right:-1%;
    }
    .gallery-carousel .owl-controls .owl-nav .owl-next,
    section.classes .owl-controls .owl-nav .owl-next,
    .courses .course-carousel .owl-controls .owl-nav .owl-next{
        left: -1%;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{

    .gallery-carousel .owl-controls .owl-nav .owl-prev,
    section.classes .owl-controls .owl-nav .owl-prev,
    .courses .course-carousel .owl-controls .owl-nav .owl-prev{
        right:-2%;
    }
    .gallery-carousel .owl-controls .owl-nav .owl-next,
    section.classes .owl-controls .owl-nav .owl-next,
    .courses .course-carousel .owl-controls .owl-nav .owl-next{
        left: -2%;
    }
    .page-content.courses .files li > div:first-of-type{
        display: block;
        left: 160px;
        overflow: hidden;
        position: absolute;
        right: 60px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .header.scroll-mode .nav,
    .inner-page .header .nav{
        right: 90px;
    }
    .header .nav > li > a{
        padding: 10px !important;
    }
    .inner-page .nav > li > a{
        padding: 10px !important;
    }
    .forgot .box,
    .signup .box{
        width: 60%;
    }
    .footer .contact-box{
        padding: 0 30px;
        top: -50px;
    }
    .footer .contact-box .captcha{
        margin-top: 15px;
    }
    .footer .contact-box form div.col-sm-12.col-xs-12{
        padding: 0 !important;
    }

    span.navTrigger{
        display: flex;
        height: 45px;
        justify-content: center;
        position: absolute;
        left: 0;
        top:7.5px;
        width: 50px;
        z-index: 10000;
        opacity: 0.7;
    }
    span.navTrigger:hover {
        opacity: 1;
    }
    span.navTrigger ~ ul {
        opacity: 0;
        visibility: hidden;
        position: fixed !important;
        top: -100vh !important;
        right:0;
        left:0;
        bottom: 0 !important;
        height: 100vh;
        z-index: 9999;
        background-color: #2a2a2a;
        -webkit-transition: all 700ms cubic-bezier(0.330, 0.750, 0.350, 0.980);
        -moz-transition: all 700ms cubic-bezier(0.330, 0.750, 0.350, 0.980);
        -o-transition: all 700ms cubic-bezier(0.330, 0.750, 0.350, 0.980);
        transition: all 700ms cubic-bezier(0.330, 0.750, 0.350, 0.980); /* custom */

        -webkit-transition-timing-function: cubic-bezier(0.330, 0.750, 0.350, 0.980);
        -moz-transition-timing-function: cubic-bezier(0.330, 0.750, 0.350, 0.980);
        -o-transition-timing-function: cubic-bezier(0.330, 0.750, 0.350, 0.980);
        transition-timing-function: cubic-bezier(0.330, 0.750, 0.350, 0.980); /* custom */
        overflow: auto;
        padding-top: 40px;
    }
    span.navTrigger.clicked ~ ul {
        opacity: 1;
        top: 0 !important;
        visibility: visible;
    }
    span.navTrigger.clicksed ~ .logo {
        right: 50%;
        margin-right: -50px;
        top: 30px;
        background-color: #2a2a2a;
    }
    span.navTrigger ~ ul.nav > li {
        float: none;
        width: 100%;
        line-height: 40px;
        text-align: center;
    }
    span.navTrigger ~ ul.nav > li *{
        text-align: center !important;
        font-size: 1.25em;
    }
    span.navTrigger ~ ul.nav > li .divider {
        display: none;
    }
    .header.scroll-mode .nav,
    .inner-page .header .nav{
        right: 0;
    }
    .inner-page .inner-page-content{
        margin-top: 60px;
    }
    .header .container{
        height: 60px;
    }
    .header .logo{
        width: 100px;
        opacity: 1;
        top: 10px;
        right: 10px;
    }
}
@media (max-width: 767px) {
    .faq-section .faq-text,
    .faq-section ul,
    .faq-section ol{
        padding:0 20px;
    }
    .owl-dots {
        left: 0;
        right: 0;
    }
    .header.scroll-mode .btn-input .dropdown-menu
    {
        background-color: inherit;
    }
    span.navTrigger{
        display: flex;
        height: 45px;
        justify-content: center;
        position: absolute;
        left: 0;
        top:7.5px;
        width: 50px;
        z-index: 10000;
        opacity: 0.7;
    }
    span.navTrigger:hover {
        opacity: 1;
    }
    span.navTrigger ~ ul {
        opacity: 0;
        visibility: hidden;
        position: fixed !important;
        top: -100vh !important;
        right:0;
        left:0;
        bottom: 0 !important;
        height: 100vh;
        z-index: 9999;
        background-color: #2a2a2a;
        -webkit-transition: all 700ms cubic-bezier(0.330, 0.750, 0.350, 0.980);
        -moz-transition: all 700ms cubic-bezier(0.330, 0.750, 0.350, 0.980);
        -o-transition: all 700ms cubic-bezier(0.330, 0.750, 0.350, 0.980);
        transition: all 700ms cubic-bezier(0.330, 0.750, 0.350, 0.980); /* custom */

        -webkit-transition-timing-function: cubic-bezier(0.330, 0.750, 0.350, 0.980);
        -moz-transition-timing-function: cubic-bezier(0.330, 0.750, 0.350, 0.980);
        -o-transition-timing-function: cubic-bezier(0.330, 0.750, 0.350, 0.980);
        transition-timing-function: cubic-bezier(0.330, 0.750, 0.350, 0.980); /* custom */
        overflow: auto;
        padding-top: 40px;
    }
    span.navTrigger.clicked ~ ul {
        opacity: 1;
        top: 0 !important;
        visibility: visible;
    }
    span.navTrigger.clicksed ~ .logo {
        right: 50%;
        margin-right: -50px;
        top: 30px;
        background-color: #2a2a2a;
    }
    span.navTrigger ~ ul.nav > li {
        float: none;
        width: 100%;
        line-height: 40px;
        text-align: center;
    }
    span.navTrigger ~ ul.nav > li *{
        text-align: center !important;
        font-size: 1.25em;
    }
    span.navTrigger ~ ul.nav > li .divider {
        display: none;
    }
    .header.scroll-mode .nav,
    .inner-page .header .nav{
        right: 0;
    }
    .inner-page .inner-page-content{
        margin-top: 60px;
    }
    .header .container{
        height: 60px;
    }
    .header .logo{
        width: 100px;
        opacity: 1;
        top: 10px;
        right: 10px;
    }
    .forgot .box,
    .signup .box{
        width: 100%;
        padding: 0 15px;
    }
    .errorMessage.tip{
        position: relative;
        right: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        margin-bottom: 10px !important;
        padding: 0;
        text-align: center;
        top: 10px !important;
        width: 100%;
    }
    .errorMessage.tip::before{
        border-left: 10px solid transparent !important;
        border-right: 10px solid transparent !important;
        border-bottom: 10px solid #888 !important;
        margin-right: -10px !important;
        right: 50% !important;
        top: -11px !important;
    }
    .errorMessage.tip::after{
        border-left: 10px solid transparent !important;
        border-right: 10px solid transparent !important;
        border-bottom: 10px solid #fff !important;
        margin-right: -10px !important;
        right: 50% !important;
        top: -10px !important;
    }
    .about h3,
    .about .text-container,
    .about .text .paragraph{
        padding: 0 15px !important;
    }
    .footer .contact-box,
    .footer .info-box{
        padding: 0 15px;
        width: 100%;
    }
    .footer .contact-box .captcha{
        margin-top: 15px;
    }
    .footer .contact-box form div.col-sm-12.col-xs-12{
        padding: 0 !important;
    }
    #login-modal .close{
        margin: 0;
        padding: 0;
        font-size: 40px;
    }
    #login-modal .box{
        width: 100%;
        padding: 30px;
    }

    .persons .bg{
        display: none;
    }
    .page-content.courses .files li > div:first-of-type{
        display: block;
        padding-left: 10px;
    }
    .page-content.courses .files .file,
    .page-content.courses .files li{
        display: inline-block;
        height: auto;
        width: 100%;
    }
    .page-content.courses .files .download{
        background: #ef5350;
        padding: 0;
    }
    .files ul li > div:first-of-type{
        position: static !important;
    }
    .page-content.courses .files .download i{
        margin: 5px;
        background: url("../svg/download-white.svg") no-repeat center / auto 25px;
    }
    .page-content.courses .files .download span:last-of-type{
        color: #fff;
        border: none;
        padding: 5px 10px;
    }
    .page-content.courses .collapse-header{
        height: auto;
        padding-left: 20px;
        position: relative;
    }
    .page-content.courses .arrow-white{
        top: 50%;
        margin-top: -10px;
        left: 5px;
    }
    .page-content.courses .collapse-header span{
        white-space: normal;
    }

    .persons .person-item .socials a{
        opacity: 0.5;
    }
    .persons .person-item .socials .email{
        top: 5px;
        right: 11px;
        background: transparent url("../svg/email-green.svg") no-repeat center / 15px auto;
    }
    .persons .person-item .socials .facebook{
        top: 40px;
        right: 2px;
        background: transparent url("../svg/facebook.svg") no-repeat center / 15px auto;
    }
    .persons .person-item .socials .twitter{
        animation-delay: 0.4s;
        top: 75px;
        right: 11px;
        background: transparent url("../svg/twitter.svg") no-repeat center / 15px auto;
    }
    .gallery-item .gallery-detail
    {
        position: relative;
        bottom: auto;
    }
    .gallery-item{
        display: block;
    }
    .gallery-item .blur-mask{
        display: none;
    }
    .class .inner{
        padding: 0 25px;
    }
    .footer .contact-box, .footer .info-box
    {
        padding: 15px;
    }
}
@media (max-width: 420px) {
    .news-item .pic{
        width: 100px;
        height: 100px;
    }
    .news-item .news-detail{
        height: 100px;
        padding-right: 115px;
    }
    .news-item .news-detail h3{
        padding:0;
    }
    .news-detail a > p{
        height: 26px;
    }
    .news-detail .date{
        display: none;
    }
    span.navTrigger ~ ul.nav > li *{
        font-size: 1em;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .news-item .pic{
        width: 100px;
        height: 100px;
    }
    .news-item .news-detail{
        height: 100px;
        padding-right: 115px;
    }
    .news-detail a > p{
        height: 26px;
    }
    .news-item .news-detail h3{
        padding-left:0;
    }
    .news-detail .date{
        display: none;
    }
    span.navTrigger ~ ul.nav > li *{
        font-size: 1em;
    }
}
@media (max-width: 400px) {

    .page-content.courses .files .file,
    .page-content.courses .files li{
        padding:0 5px !important;
        background-image: none !important;
    }
}
@media (max-width: 991px) {
    .header .btn-input .dropdown-menu{
        background-color: #333 !important;
        width: 100%;
    }
    .header .btn-input .caret{
        margin-left: 50px !important;
    }
    .header .btn-input.open{
        background-color: #222;
        -webkit-box-shadow: inset 0 2px 4px -2px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: inset 0 2px 4px -2px rgba(0, 0, 0, 0.7);
        box-shadow: inset 0 2px 4px -2px rgba(0, 0, 0, 0.7);
    }
}
