<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="<?= $this->keywords ?>">
    <meta name="description" content="<?= $this->description?> ">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>
    <link rel="shortcut icon" href="<?= Yii::app()->createAbsoluteUrl('themes/market/images/favicon.ico'); ?>">

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../css/responsive-theme.css">
    <script type="application/javascript" src="../js/jquery.js"></script>
</head>
<body>
<header class="header">
    <div class="navbar container">
        <ul class="nav">
            <li>
                <a href="index.html">
                    صحفه اصلی
                </a>
            </li>
            <li>
                <a href="index.html">
                    دوزه ها
                </a>
            </li>
            <li>
                <a href="index.html">
                    همکاران
                </a>
            </li>
            <li>
                <a href="index.html">
                    اساتید
                </a>
            </li>
            <li>
                <a href="index.html">
                    درباره ما
                </a>
            </li>
            <li>
                <a href="index.html">
                    تماس با ما
                </a>
            </li>
            <li class="pull-left">
                <a href="#">
                    ثبت نام
                </a>
            </li>
            <li class="pull-left">
                <span class="divider">|</span>
            </li>

            <li class="pull-left">
                <a href="index.html">
                    ورود
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="top-slider">
    <div class="container">
        <div class="logo-box">
            <div class="logo"></div>
        </div>
    </div>
    <div class="slider">
        <img src="../images/slide1.jpg">
    </div>
    <div class="mask"></div>
    <div class="search-box">
        <div class="container">
            <div class="form">
                <input type="text" class="col-lg-8 col-md-8 col-sm-8 col-xs-12" placeholder="جستجو کنید ...">
                <div class="btn-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span data-bind="label">
                            جستجو در کل سایت
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" >
                    </ul>
                </div>
                <button type="submit" class="btn btn-info col-lg-1 col-md-1 col-sm-1 col-xs-12">جستجو</button>
            </div>
        </div>
    </div>
    <div class="chevron">
        <a class="mover" href="#main">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245.059 245.059" xml:space="preserve">
                <g>
                    <path d="M217.774,121.224l-95.252,84.224l-95.22-84.224c-6.229-6.229-16.368-6.229-22.597,0
                        s-6.229,16.368,0,22.566l106.312,94.044c3.178,3.21,7.342,4.704,11.505,4.64c4.164,0.095,8.327-1.398,11.505-4.545
                        l106.344-94.044c6.198-6.229,6.198-16.4,0-22.597C234.11,115.027,223.971,114.995,217.774,121.224z"/>
                    <path d="M110.984,123.894c3.178,3.178,7.342,4.704,11.505,4.64c4.164,0.064,8.359-1.462,11.505-4.64
                        L240.307,29.85c6.325-6.229,6.325-16.336,0.064-22.597c-6.229-6.229-16.4-6.229-22.597,0l-95.252,84.224L27.301,7.252
                        c-6.261-6.229-16.4-6.229-22.629,0s-6.229,16.368,0,22.597L110.984,123.894z"/>
                </g>
            </svg>
        </a>
    </div>
</div>
<div class="main-entry" id="main">
    <div class="container box">
        <div class="inner-box">
            <h2>دوره های آموزشی</h2>
            <div class="course-carousel">
                <div class="course">
                    <div class="course-pic">
                        <img src="../images/Non-Traditional-Student-at-Work-goodluz.jpg">
                    </div>
                    <div class="course-detail">
                        <h3>دوره های بزرگ سالان</h3>
                        <p class="">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            <span class="paragraph-end"></span>
                        </p>
                        <button type="button" class="btn btn-success pull-left">
                            جزئیات
                        </button>
                    </div>
                </div>
                <div class="course">
                    <div class="course-pic">
                        <img src="../images/lzeaxqbhifexdgseituh.jpg">
                    </div>
                    <div class="course-detail">
                        <h3>دوره های کودکان</h3>
                        <p class="">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            <span class="paragraph-end"></span>
                        </p>
                        <button type="button" class="btn btn-success pull-left">
                            جزئیات
                        </button>
                    </div>
                </div>
                <div class="course">
                    <div class="course-pic">
                        <img src="../images/Eiffel--4f11fe9aeb680_hires.jpg">
                    </div>
                    <div class="course-detail">
                        <h3>دوره های فرانسه</h3>
                        <p class="">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            <span class="paragraph-end"></span>
                        </p>
                        <button type="button" class="btn btn-success pull-left">
                            جزئیات
                        </button>
                    </div>
                </div>
                <div class="course">
                    <div class="course-pic">
                        <img src="../images/6780_IELTS_Scholarship.jpg">
                    </div>
                    <div class="course-detail">
                        <h3>دوره های IELTS</h3>
                        <p class="">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            <span class="paragraph-end"></span>
                        </p>
                        <button type="button" class="btn btn-success pull-left">
                            جزئیات
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image-background login-box">
        <div class="inner-box">
            <h2>ساخت حساب کاربری</h2>
            <div class="login-form">

            </div>
        </div>
    </div>
</div>
</body>
<script type="application/javascript" src="../js/bootstrap.min.js"></script>
<script type="application/javascript" src="../js/jquery.mousewheel.min.js"></script>
<script type="application/javascript" src="../js/owl.carousel.min.js"></script>
<script type="application/javascript" src="../js/scripts.js"></script>
<script>
    $(function(){
        $(".course-carousel").owlCarousel({
            rtl:true,
            nav:true,
            navText:['<span class="icon-chevron-right icon-2x"></span>','<span class="icon-chevron-left icon-2x"></span>'],
            margin:30,
            responsive : {
                0 : {
                    items:3
                }
            }
        });
    });
</script>
</html>
