<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="<?= $this->keywords ?>">
    <meta name="description" content="<?= $this->description?> ">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>آوای شهیر</title>
    <link rel="shortcut icon" href="<?= Yii::app()->createAbsoluteUrl('themes/market/images/favicon.ico'); ?>">

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="../css/ripples.min.css">
    <link rel="stylesheet" type="text/css" href="../css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../css/responsive-theme.css">
    <script type="application/javascript" src="../js/jquery.js"></script>
    <script type="application/javascript" src="../js/jquery-ui.min.js"></script>
</head>
<body>
<header class="header">
    <div class="navbar container">
        <div class="logo"></div>
        <ul class="nav">
            <li>
                <a href="index.html">صفحه اصلی</a>
            </li>
            <li>
                <a href="index.html">دوره ها</a>
            </li>
            <li>
                <a href="index.html">همکاران</a>
            </li>
            <li>
                <a href="index.html">اساتید</a>
            </li>
            <li>
                <a href="index.html">درباره ما</a>
            </li>
            <li>
                <a href="index.html">تماس با ما</a>
            </li>
            <li class="pull-left">
                <a href="#signup">ثبت نام</a>
            </li>
            <li class="pull-left">
                <span class="divider">|</span>
            </li>
            <li class="pull-left">
                <a href="#login-modal" data-toggle="modal" data-target="#login-modal">ورود</a>
            </li>
        </ul>
    </div>
</header>
<section class="introduction">
    <div class="mask"></div>
    <div class="logo"></div>
    <h2>همراه با ما انگلیسی را بیاموزید...</h2>
    <div class="chevron">
        <a class="mover" href="#main">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245.059 245.059" xml:space="preserve">
                <g>
                    <path d="M217.774,121.224l-95.252,84.224l-95.22-84.224c-6.229-6.229-16.368-6.229-22.597,0
                        s-6.229,16.368,0,22.566l106.312,94.044c3.178,3.21,7.342,4.704,11.505,4.64c4.164,0.095,8.327-1.398,11.505-4.545
                        l106.344-94.044c6.198-6.229,6.198-16.4,0-22.597C234.11,115.027,223.971,114.995,217.774,121.224z"></path>
                    <path d="M110.984,123.894c3.178,3.178,7.342,4.704,11.505,4.64c4.164,0.064,8.359-1.462,11.505-4.64
                        L240.307,29.85c6.325-6.229,6.325-16.336,0.064-22.597c-6.229-6.229-16.4-6.229-22.597,0l-95.252,84.224L27.301,7.252
                        c-6.261-6.229-16.4-6.229-22.629,0s-6.229,16.368,0,22.597L110.984,123.894z"></path>
                </g>
            </svg>
        </a>
    </div>
</section>
<section class="search" id="main">
    <div class="container">
        <form action="/search" method="post">
            <div class="col-md-8">
                <div class="row">
                    <input type="text" class="col-md-8 text-field" placeholder="جستجو کنید ...">
                </div>
            </div>
            <div class="btn-group col-md-3">
                <div class="row">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span data-bind="label">جستجو در کل سایت</span>
                        <span class="icon icon-angle-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">کل سایت</a></li>
                        <li><a href="#">دوره ها</a></li>
                        <li><a href="#">همکاران</a></li>
                        <li><a href="#">اساتید</a></li>
                    </ul>
                </div>
            </div>
            <button type="submit" class="col-md-1 btn-search btn">
                <i class="search-icon"></i>
            </button>
        </form>
    </div>
    <div class="bg-icon"></div>
</section>
<section class="courses">
    <div class="container">
        <h3 class="yekan-text">دوره های آموزشی</h3>
        <div class="course-carousel">
            <div class="course">
                <div class="course-pic">
                    <img src="../images/Non-Traditional-Student-at-Work-goodluz.jpg">
                </div>
                <div class="course-detail container-fluid">
                    <h4><a href="#">دوره های بزرگ سالان</a></h4>
                    <p class="text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        <span class="paragraph-end"></span>
                    </p>
                    <a href="#" class="btn pull-left">جزئیات</a>
                </div>
            </div>
            <div class="course">
                <div class="course-pic">
                    <img src="../images/lzeaxqbhifexdgseituh.jpg">
                </div>
                <div class="course-detail container-fluid">
                    <h4><a href="#">دوره های کودکان</a></h4>
                    <p class="text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        <span class="paragraph-end"></span>
                    </p>
                    <a href="#" class="btn pull-left">جزئیات</a>
                </div>
            </div>
            <div class="course">
                <div class="course-pic">
                    <img src="../images/Eiffel--4f11fe9aeb680_hires.jpg">
                </div>
                <div class="course-detail container-fluid">
                    <h4><a href="#">دوره های فرانسه</a></h4>
                    <p class="text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        <span class="paragraph-end"></span>
                    </p>
                    <a href="#" class="btn pull-left">جزئیات</a>
                </div>
            </div>
            <div class="course">
                <div class="course-pic">
                    <img src="../images/6780_IELTS_Scholarship.jpg">
                </div>
                <div class="course-detail container-fluid">
                    <h4><a href="#">دوره های IELTS</a></h4>
                    <p class="text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        <span class="paragraph-end"></span>
                    </p>
                    <a href="#" class="btn pull-left">جزئیات</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="signup" id="signup">
    <div class="mask"></div>
    <div class="container-fluid">
        <h2 class="yekan-text text-center">ساخت حساب کاربری</h2>
        <form action="/signup" method="post" class="form-group">
            <div class="center-block box">
                <input type="text" class="text-field" placeholder="پست الکترونیکی">
                <input type="password" class="text-field" placeholder="کلمه عبور">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span>با <a href="#">شرایط و قوانین</a> سایت موافقم.</span>
                    </label>
                </div>
                <button type="submit" class="button-field btn">ثبت نام</button>
            </div>
        </form>
    </div>
</section>
<section class="persons">
    <div class="bg">
        <div class="icons-set left"></div>
        <div class="icons-set right"></div>
    </div>
    <div class="container">
        <div class="col-md-6 teachers">
            <h3 class="yekan-text">اساتید آوای شهیر</h3>
            <div class="slider">
                <ul>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p1.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">مهندس محمدرضا شعبانعلی</span>
                        <span class="job">کارشناس ارشد زبان فرانسه</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p2.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">دکتر سید جواد طباطبایی</span>
                        <span class="job">دکترای زبان انگلیسی</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p3.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">مهندس محسن ریاحی</span>
                        <span class="job">کارشناس ارشد زبان انگلیسی</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p1.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">مهندس محمدرضا شعبانعلی</span>
                        <span class="job">کارشناس ارشد زبان فرانسه</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p2.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">دکتر سید جواد طباطبایی</span>
                        <span class="job">دکترای زبان انگلیسی</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p3.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">مهندس محسن ریاحی</span>
                        <span class="job">کارشناس ارشد زبان انگلیسی</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                </ul>
            </div>
            <div class="controls">
                <button class="teacher-up btn"><i class="icon"></i></button>
                <button class="teacher-down btn"><i class="icon"></i></button>
            </div>
        </div>
        <div class="col-md-6 partners">
            <h3 class="yekan-text">همکاران آوای شهیر</h3>
            <div class="slider">
                <ul>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p1.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">مهندس محمدرضا شعبانعلی</span>
                        <span class="job">کارشناس ارشد زبان فرانسه</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p2.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">دکتر سید جواد طباطبایی</span>
                        <span class="job">دکترای زبان انگلیسی</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p3.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">مهندس محسن ریاحی</span>
                        <span class="job">کارشناس ارشد زبان انگلیسی</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p1.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">مهندس محمدرضا شعبانعلی</span>
                        <span class="job">کارشناس ارشد زبان فرانسه</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p2.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">دکتر سید جواد طباطبایی</span>
                        <span class="job">دکترای زبان انگلیسی</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                    <li class="person-item">
                        <div class="image">
                            <img src="../images/p3.jpg">
                            <div class="img-overlay"></div>
                        </div>
                        <span class="name">مهندس محسن ریاحی</span>
                        <span class="job">کارشناس ارشد زبان انگلیسی</span>
                        <div class="socials">
                            <a href="/email" class="email" title="Email"></a>
                            <a href="/facebook" class="facebook" title="Facebook"></a>
                            <a href="/twitter" class="twitter" title="Twitter"></a>
                        </div>
                        <a href="#" class="person-link" title="PERSON NAME"></a>
                    </li>
                </ul>
            </div>
            <div class="controls">
                <button class="partner-up btn"><i class="icon"></i></button>
                <button class="partner-down btn"><i class="icon"></i></button>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <h3 class="yekan-text">درباره پردیس</h3>
        <div class="col-md-8 text-container">
            <div class="text">
                <p class="paragraph col-md-6">مرکز زبان آریانپورکه تنها دارنده مجوز از وزارت آموزش و پرورش به ایـن نام در تهران می باشد، با مطالعات و برنامه ریزی های جـامـع آمـوزشـی و بـا سـالها سابقه در برگزاری دوره های IELTS,TOEFL  تا کـنون گامهای بلند و جامعی در جهت ارایه آموزش صحیح و موثر زبان انگلیسی برداشته است .</p>
                <p class="paragraph col-md-6">در هـمین راسـتا با ایــجاد محیط آموزشی استاندارد و بهره گیری از تکنولوژی جـدید آمـوزش زبان و استادان مجرب، با بالاترین آمار نمرات در آزمونهای فوق همواره  با آغوش باز پذیرای زبان آموزان عزیز می باشد. </p>
            </div>
        </div>
        <div class="col-md-4 licenses-container">
            <div class="col-md-6"><img src="../images/rasaneh.jpg"></div>
            <div class="col-md-6"><img src="../images/enamad.jpg"></div>
        </div>
    </div>
</section>
<section class="map">
    <div id="google-map"></div>
</section>
<footer class="footer">
    <div class="box center-block">
        <div class="contact-box">
            <h4 class="yekan-text">تماس با ما</h4>
            <form action="/contact" method="post">
                <div class="col-md-6">
                    <input type="text" class="text-field" placeholder="نام و نام خانوادگی">
                </div>
                <div class="col-md-6">
                    <input type="text" class="text-field" placeholder="پست الکترونیکی">
                </div>
                <textarea class="text-field" placeholder="متن پیام"></textarea>
                <button type="submit" class="btn button-field pull-left">ارسال</button>
            </form>
        </div>
        <div class="info-box">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
    </div>
</footer>
<div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="center-block box">
                    <h3>ورود به حساب کاربری</h3>
                    <form action="/login" method="post">
                        <input type="text" placeholder="پست الکترونیکی" class="text-field email">
                        <input type="password" placeholder="کلمه عبور" class="text-field password">
                        <button type="submit" class="button-field btn">ورود</button>
                        <a href="#">کلمه عبور خود را فراموش کرده اید؟</a><br>
                        <span>تازه وارد هستید؟ </span><a href="#">ثبت نام کنید.</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="../js/bootstrap.min.js"></script>
<script type="application/javascript" src="../js/material.min.js"></script>
<script type="application/javascript" src="../js/ripples.min.js"></script>
<script type="application/javascript" src="../js/jquery.nicescroll.min.js"></script>
<script type="application/javascript" src="../js/jquery.mousewheel.min.js"></script>
<script type="application/javascript" src="../js/owl.carousel.min.js"></script>
<script type="application/javascript" src="../js/jquery.easy-ticker.min.js"></script>
<script type="application/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
<script type="application/javascript" src="../js/scripts.js"></script>
<script>
    $(function(){
        $(".course-carousel").owlCarousel({
            rtl:true,
            nav:true,
            navText:['<span class="arrow"></span>','<span class="arrow"></span>'],
            margin:30,
            responsive : {
                0 : {
                    items:3
                }
            }
        });

        $.material.init();

        $('.persons .teachers .slider').easyTicker({
            direction: 'down',
            easing: 'swing',
            speed: 'slow',
            interval: 10000,
            height: 355,
            visible: 1,
            mousePause: 1,
            controls: {
                up: '.teacher-up',
                down: '.teacher-down'
            }
        }).data('easyTicker');

        $('.persons .partners .slider').easyTicker({
            direction: 'down',
            easing: 'swing',
            speed: 'slow',
            interval: 10000,
            height: 355,
            visible: 1,
            mousePause: 1,
            controls: {
                up: '.partner-up',
                down: '.partner-down'
            }
        }).data('easyTicker');

        var map;
        var marker;
        var myCenter=new google.maps.LatLng(34.62837015639111,50.890497923028306);
        function initialize()
        {
            var mapProp = {
                center:myCenter,
                zoom:15,
                scrollwheel: false
            };
            map = new google.maps.Map(document.getElementById('google-map'),mapProp);
            placeMarker(myCenter ,map);
        }

        function placeMarker(location ,map) {

            if(marker != undefined)
                marker.setMap(null);
            marker = new google.maps.Marker({
                position: location,
                map: map,
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    });
</script>
</body>
</html>
